<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">



<body>


<div id="nav_bar" class="navbar" th:fragment="navbar-default" style="padding-right: 50px;margin-top: 0;margin-bottom: 0">
    <ul>
        <li ><a href="/">Kezdőoldal</a></li>
        <li ><a href="/buffet">Büfék</a></li>


        <li class="dropdown"><a>Termékek</a>
                <ul>
                    <li class="dropdown-content" style="overflow: hidden"><a href="/products">Szendvics</a></li>
                    <li class="dropdown-content" style="overflow: hidden"><a href="/products">Hamburger</a></li>
                    <li class="dropdown-content" style="overflow: hidden"> <a href="/products">Pizza</a></li>
                    <li class="dropdown-content" style="overflow: hidden"><a href="/products">Sós</a></li>
                    <li class="dropdown-content" style="overflow: hidden"><a href="/products">Édes</a></li>
                    <li class="dropdown-content" style="overflow: hidden"><a href="/products">Üdítő</a></li>
                    <li class="dropdown-content" style="overflow: hidden"><a href="/products">Kávé</a></li>
                </ul>
        </li>

        <li class=""><a href="/profile">Profilom</a></li>
        <li class=""><a href="/admin_page">Admin</a></li>
    </ul>


    <div class="navbar-text navbar-right" style="color: #F5F5F5;line-height: 0px;text-align: center">
        Üdvözlünk <span sec:authentication="name">Anonymous </span>
        <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
            | <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Kijelentkezés</a>
        </form>

    </div>
</div>

</body>

</html>
