html{ height:100%;
        width: 95%;
    }
body{ min-height:100%; padding:0; margin:0; position:relative;
    background-color: #F1DAC4}



footer{
    position:absolute;
    bottom:0;
    width:100%;
}


.inline{
    display: inline-block;
    padding: 50px;

}

div.content{

    margin-left: 5%;
    /*margin-right: 5%*/
}

header h1 {
    font-family: 'Calibri', sans-serif;
    font-size: 38px;
}

p, address, section {
    font-family: 'Calibri', sans-serif;
}

address {
    margin-top:20px;

}

















#navbar{
    overflow: hidden;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

.dropbtn {
    border: none;
    outline: none;
}


li.dropdown {
    display: inline-block;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}
.dropdown-content a:active {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}








#frmlogout {
    display:inline;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 0 40px 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #c7b7d6;
}