.container{
    padding-top: 30px;

}
#profile_box{
}

.row{
    padding-top: 30px;
}

.profil_image{
    max-width: 60%;
}

#editbtn{
    margin-top: 20px;
    max-width: 150px;
}
#savebtn{

    max-width: 130px;
}

#deletebtn{
    margin-top: 10px;
}

#orderbtn{
    max-width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

