.reg-box {
    --margin-top: 120px;
    top: 60px;
    left: 50%;
    max-width: 450px;
    min-height: 380px;
    background-image: linear-gradient(gray,white);
}

#reg-form {
    padding: 20px;
}

.form-control{
    max-width: 100%;
}


#regBtn{
    margin-bottom: 20px;
}
