<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>
<body>

<div th:replace="layouts/jumpTopBtn :: jumpTop"></div>

<div id="container" class="content">



    <nav th:replace="layouts/navbar :: navbar-default"></nav>



    <article th:each="buffet : ${buffets}">
        <hr/>
        <header>
            <a th:href="@{'http://localhost:8080/buffet/' + ${buffet.id}}">
            <h1 th:text="${buffet.name}">This is the buffet's name</h1>
            </a>
        </header>

        <section th:text="${buffet.address}">
            <p>This is the buffet's address</p>
            <p></p>
        </section>


        <address>
            Team: <span th:text="${buffet.team}">teamNumber</span>
        </address>

    </article>


    <br>
    <br>

    <footer th:replace="layouts/footer :: footer"></footer>

</div>
</body>
</html>