<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>
<body style="background-color:#F5F5F5;">



<div id="container" class="content">


    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <CENTER><IMG  SRC="/static/images/buffet1.jpg" class="buffet" alt="bufe" width="100%">  </CENTER>

    <H1>Kedves Látogató!</H1>




    <p style="font-size:25px;">Üdvözöllek az oldalon, ami annak érdekében készült, hogy ismertessük
        veled több különböző büfé kínálatát, illetve egy bejelentkezs után rendelhess magadnak.</p>

    <P style="font-size:20px;">Válaszd ki a kedvedhez illő ételt és rendeld meg nálunk.
        Ízletes fogások, üdítők a kedvenc büféidből.Pintosan 30 Büfé Kínálata.
        Vonzó árak. Nagy választék. Ízletes Fogások. Hideg üdítők.

    <P style="font-size:20px;">A büfék fülről eljuthatsz a büfék felsorolásához, ahol megnézheted az összes büfé árucikkét,
        amit jelenleg árulnak.
    <P style="font-size:20px;" >Itt lehetőséged van a  kategóriák közül választani,hogy mit ennél, vagy innál
        szívesen.
    <P style="font-size:20px;">A következő kategóriák közül válogathatsz:

    <ul>
        <li>Hamburgerek</li>
        <li>Pizza</li>
        <li>Szendvicsek</li>
        <li>Kávé</li>
        <li>Sós</li>
        <li>Édes</li>
        <li>Üdítők</li>
    </ul>


    <P style="font-size:20px;">A kategória kiválasztása után eléd tárul az összes elérhető cikk,
        amiből kiválaszthatsz amennyit csak szeretnél,
        aztán a rendelés gomb megnyomásával a kosaradba kerül(amennyiben be vagy jelentkezve).
        Amint megtaláltad az összes általad tetsző nyalángságot, irány a kassza, ahol
        kifizetheted azokat.


    <P style="font-size:20px;"> A keresés részbe a beírt termékeket listázza ki, melyek mellett ott lesz a büfék neve,címe
        és az aktuális büfében vett ára.

    <br>
    <br>
    <br>





    <footer th:replace="layouts/footer :: footer"></footer>
</div>

</body>
</html>