<!DOCTYPE html>
<html lang="hu"  xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>


<div id="container" class="content">


    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <div class="wrapper">
        <div class="main">


    <article class="inline" th:each="product : ${products}">
        <header>
            <h1 th:text="${product.name}">Termek neve</h1>
        </header>

        <section th:text="${product.ar}">
            <p>Termek ara</p>
            <p></p>
        </section>


        <address>
            kategoria: <span th:text="${product.kategoria}">kategoria</span>
        </address>

    </article>
</div>
        <div class="sidebar">
            Kategoriak:
            <ul class="ulsidebar">
           <li> <a href="/products">Szendvics</a></li>
                <li><a href="/products">Hamburger</a></li>
                <li><a href="/products">Pizza</a></li>
                <li><a href="/products">Sos</a></li>
                <li><a href="/products">Edes</a></li>
                <li><a href="/products">Udito</a></li>
                <li><a href="/products">Kave</a></li>
            </ul>
        </div>
    </div>

    <br>
    <br>

<footer th:replace="layouts/footer :: footer"></footer>

</div>
</body>
</html>