<!DOCTYPE html>
<html lang="hu"  xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>


<div id="container" class="content">


    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <div class="wrapper">
        <div class="main">


    <article class="inline" th:each="product : ${products}">
        <header>
            <IMG th:SRC="@{'/static/images/' + ${product.kategoria} + '.jpg'}" height="150px" width="150px">
            <h1 th:text="${product.name}">Termek neve</h1>
        </header>

        <section th:text="${product.ar}+ ' Ft'">
            <p>Termek ara</p>
            <p></p>
        </section>

<!--
        <address>
            kategoria: <span th:text="${product.kategoria}">kategoria</span>
        </address>-->

    </article>
</div>

    </div>
    <div th:replace="layouts/jumpTopBtn :: jumpTop "></div>

    <br>
    <br>

<footer th:replace="layouts/footer :: footer"></footer>

</div>
</body>
</html>