<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>


<div id="container" class="content">


    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <div class="wrapper" style=" margin-left: 35%; margin-top: 150px;">
        <div class="order">
<!--        < class="main">-->

            <!--<h1 th:text="actualProduct.name">termék név</h1>
            <p>Mennyiség: </p>
            <input type="number" name="quantity">
            <p>Kérem adja meg hány órára szeretné megrendelni: </p>
            <input type="time" name="orderTime">

            <button type="button">Leadás</button>

            <a th:href="@{'http://localhost:8080/buffet/' + ${buffetId}}"><p>Szeretném folytatni a vásárlást</p></a>>

            <form action="#" th:action="@{/http://localhost:8080/buffet}" th:object="$prod" method="post">
                <p>Id: <input type="number" th:field="*{id}" /></p>
            </form>-->
            <!--<h1 th:text="${actualProduct.name} + megrendelése">Termék név</h1>
            <form action="#" th:action="@{'/buffet/productorder/' + ${buffetId} + '/' +${actualProduct.id}}" th:object="${orderedProductsEntity}" method="post">
                <p>Mennyiség: <input type="number" min="08:00" max="20:00" th:field="*{quantity}"/></p>
                <p>Átvétel időpontja: <input type="time" min="8" max="20" th:field="takeoverTime" /></p>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>-->
        <!--<form name="order-form" th:action="@{'/order/' + ${buffetId} + '/' +${actualProduct.id}}" th:object="${orderedProductEntity}" method="post">-->
            <form name="order-form" th:action="@{'/order/' + ${buffetId} + '/' +${actualProduct.id}}" th:object="${orderedProductsEntity}" method="post" class="form">
                <h3 class="text-center text-info" style="margin-top: 0px;margin-bottom: 30px;">Rendelés</h3>
                <div class="form-group">
                <label for = "quantity" class="text-info">Mennyiség: </label>
                <input type="number" id="quantity" name="quantity" min="1" max="10" th:field="*{quantity}" />
                </div>
                <div class="form-group">
                <label for = "takeoverTime" class="text-info">Ekkorra foglal: </label>
                <input type="number" id="takeoverTime" name="takeoverTime" min="8" max="20" step="1" th:field="*{takeoverTime}" />
                </div>
                <input class="btn btn-info btn-md" type="submit" value="Elfogadás" style="border: #30332e "/>
            </form>
            <!--<p th:text="msg.">siker?</p>-->
        </div>

    </div>
</div>
    <!--<div th:replace="layouts/jumpTopBtn :: jumpTop "></div>-->

    <br>
    <br>

    <footer th:replace="layouts/footer :: footer"></footer>

</div>
</body>
</html>