<!DOCTYPE html>
<html lang="hu"  xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>
<body>



<div id="container">

    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <article th:each="product : ${products}">
        <header>
            <h1 th:text="${product.name}">Termek neve</h1>
        </header>

        <section th:text="${product.ar}">
            <p>Termek ara</p>
            <p></p>
        </section>


        <address>
            kategoria: <span th:text="${product.kategoria}">kategoria</span>
        </address>

        <hr/>
    </article>

</div>
<footer>

</footer>

</body>
</html>