<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layouts/header :: header"></head>
<body style="background-color:#F5F5F5;">



<div id="container" class="content">


    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <CENTER><IMG  SRC="/static/images/logo.png" class="buffet" alt="bufe" width="200px"; height="200px">  </CENTER>

    <center><H1>Kedves Látogató!</H1></center>



    <div style="font-size: 25px; padding-top: 20px;padding-bottom: 20px">
        <IMG  SRC="/static/images/eat7.png" class="img-left" alt="Hamburger eating" width="350px" >
     <p style="font-size: 25px; padding-top: 90px;padding-bottom: 60px">
         Üdvözöllek az oldalon, ami annak érdekében készült, hogy ismertessük veled több különböző büfé kínálatát,
         illetve egy bejelentkezs után rendelhess magadnak.
<!--        Válaszd ki a kedvedhez illő ételt és rendeld meg nálunk.-->
<!--        Ízletes fogások, üdítők a kedvenc büféidből.Pontosan 30 Büfé Kínálata.-->
        <!--        Vonzó árak. Nagy választék. Ízletes Fogások. Hideg üdítők.--></div>


    <div style="font-size: 20px;">
        <IMG  SRC="/static/images/eat2.png" class="img-right" alt="Hamburger eating" width="350px" >
        <p style="font-size: 25px; padding-top: 90px;padding-bottom: 60px">
            Válaszd ki a kedvedhez illő ételt és rendeld meg nálunk.
            Ízletes fogások, üdítők a kedvenc büféidből.Pontosan 30 Büfé Kínálata.
            Vonzó árak. Nagy választék. Ízletes Fogások. Hideg üdítők.</div>

    <div style="font-size:20px;">
        <IMG  SRC="/static/images/eat3.png" class="img-left" alt="Hamburger eating" width="350px" >
        <p style="font-size: 25px; padding-top: 90px;padding-bottom: 60px">
        A büfék fülről eljuthatsz a büfék felsorolásához, ahol megnézheted az összes büfé árucikkét,
        amit jelenleg árulnak.</div>
    <div style="font-size:20px;" >
    <IMG  SRC="/static/images/eat4.png" class="img-right" alt="Hamburger eating" width="350px" >
        <p style="font-size: 25px; padding-top: 150px;padding-bottom: 90px">
        Itt lehetőséged van a  kategóriák közül választani,hogy mit ennél, vagy innál szívesen.</div>
    <div style="font-size:20px; padding-bottom: 20px" >
    <IMG  SRC="/static/images/eat6.png" class="img-left" alt="Hamburger eating" width="350px" >
        <p style="font-size: 25px; padding-top: 90px;padding-bottom: 60px">
    A következő kategóriák közül válogathatsz:

    <ul >
        <li>Hamburgerek</li>
        <li>Pizza</li>
        <li>Szendvicsek</li>
        <li>Kávé</li>
        <li>Sós</li>
        <li>Édes</li>
        <li>Üdítők</li>
    </ul>
    </div>

    <div style="font-size:20px;">
        <IMG  SRC="/static/images/eat8.png" class="img-right" alt="Hamburger eating" width="350px" >
    <p style="font-size: 25px; padding-top: 90px;padding-bottom: 60px">
        A kategória kiválasztása után eléd tárul az összes elérhető cikk,
        amiből kiválaszthatsz amennyit csak szeretnél,
        aztán a rendelés gomb megnyomásával a kosaradba kerül(amennyiben be vagy jelentkezve).
        Amint megtaláltad az összes általad tetsző nyalángságot, irány a kassza, ahol
        kifizetheted azokat.</p>
        </div>


    <div style="font-size:20px;">
    <IMG  SRC="/static/images/eat1.png" class="img-left" alt="Hamburger eating" width="350px" >
        <p style="font-size: 25px; padding-top: 90px;padding-bottom: 60px">
    A keresés részbe a beírt termékeket listázza ki, melyek mellett ott lesz a büfék neve,címe
        és az aktuális büfében vett ára.</div>

    <br>
    <br>
    <br>

    <footer th:replace="layouts/footer :: footer"></footer>

</div>

</body>
</html>